

.topRow{
	background-color: teal;
	position: relative;
	height: 100px;
	width: 100%;	
}

.banners{
width: 100%;
font-family: 'Graduate', cursive;
text-align: center;
font-size: 70px;
}
.navbarBackground{
	
	background-color: crimson;
}


.abc{
	
	max-height: 20%;
	max-width: 20% ;
	margin-top: 40px;
	margin-left: 80px;
	object-fit: contain;
}
.clsAutoFit{
	width: 345px;
	height: 243px;
}


.clsImg{
	width: 10%;
	height: 10%;
	
}