
.categor_block{
	margin-top: 30px;
}


.clsAutoFit{
	margin-top:100px;
	width:    845px;
	height:   503px;
}
.clsImg{
	width: 100%;
	height: 100%;
}

.abc{
	font-size: 100px; text-decoration: none;
}
